<div class="row">  
  <div class="col-lg-20 col-md-20">
      <div class="card">
          <div class="header">
              <h4 class="title">Add new car:</h4>
          </div>
          <div class="content">
                <form #carToAdd="ngForm">
                    <div class="row">
                      <div class="col-xs-4">
                          <div class="avatar">
                              <img src="assets/img/nocar1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                          </div>
                      </div>       
                      <div class="col-xs-4">
                          <input type="file" name="myfile" />                                                           
                          </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="avatar">
                              <img src="assets/img/nobcg.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                          </div>
                      </div>       
                      <div class="col-xs-4">
                          <input type="file" name="myfile" />                                                           
                          </div>
                    </div>

                    <div class="row">
                          <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Name*:</label>
                                      <input [(ngModel)]="name" name="name" type="text" class="form-control border-input"  value={{car.model}} >
                                  </div>
                              </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Full Name of Model*:</label>
                                <input [(ngModel)]="model" name="model" type="text" class="form-control border-input"  value={{car.model}} >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <input [(ngModel)]="serialNumber" name="serialNumber" type="text" class="form-control border-input"  value={{car.serialNumber}}>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Motor Volume</label>
                                <input [(ngModel)]="volume" name="volume" type="text" class="form-control border-input"  value={{car.volume}} >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Color</label>
                                <input [(ngModel)]="color" name="color" type="text" class="form-control border-input" value={{car.color}}>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Year</label>
                                <input [(ngModel)]="year" name="year" type="text" class="form-control border-input"  value={{car.year}}>
                            </div>
                        </div>
                        
                        
                    </div>

                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City of the manufacturer</label>
                                <input  [(ngModel)]="city" name="city" type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Сountry of the manufacturer</label>
                                <input [(ngModel)]="country" name="country" type="text" class="form-control border-input" placeholder="Country" value="Australia">
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Characteristics</label>
                                <input [(ngModel)]="about" name="about" type="text" class="form-control border-input" placeholder="" >
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" (click)="addNewCar()" class="btn btn-info btn-fill btn-wd">Add Car</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
      </div>
  </div> 
  
  


</div>