<div class="container">
	<div class="form-group">
    <mat-form-field class="example-full-width">
     <input matInput [(ngModel)]="notificationContent" placeholder="Powiadomienie">
    </mat-form-field>
    </div>
  <button class="btn btn-info btn-fill btn-wd" mat-stroked-button color="primary" (click) = "submitNotifiaction()">Wyslij notyfikację</button>
  <button class="btn btn-info btn-fill btn-wd" mat-stroked-button color="primary" (click) = "mockNotificationLocal()">Przykładowa notifikacja</button>
</div>
