<div class="container">
  

  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
    <div>
    <div>
      <h2>Search nearbly</h2>
    </div>
      <button class="btn btn-primary" (click)="getCarWash()">Car wash</button>
      <button class="btn btn-primary" (click)="getParking()">Parking</button>
      <button class="btn btn-primary" (click)="getMechanic()">Mechanic</button>
      <button class="btn btn-primary" (click)="getCarDealer()">Car dealer</button>
      <button class="btn btn-primary" (click)="getGasStation()">Gas station</button>
    </div>
      </div>
  </div>
  <br>

  <br>
  <div class="row" >
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:400px" ></div>
        </h3>
      </div>
    </div>
  </div>
  </div>
  