﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="authenticationService.isAuthenticated()">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/map">Map</a>
        <a class="nav-item nav-link" (click)="logout()">Log out</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">            
                <alert></alert>
                <router-outlet></router-outlet>            
        </div>
    </div>
</div>

<ul>
    <li class="text" *ngFor="let item of items | async">
      {{message | async | json}}
    </li>
  </ul>



