    <div class="row"  *ngIf="historyList">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">History </h4>
                    <p class="category">Here is a history of car services </p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableHistory.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let history of historyList">
                                  <td >{{history.companyName}}</td>
                                  <td >{{history.serviceName}}</td>
                                  <td >{{history.data}}</td>
                                  <td >{{history.price}}</td>
                              </tr>
                        </tbody>
                    </table>
    
                </div>
    
                <div class="text-center">
                  <button type="submit"  routerLink="/addhistory" class="btn btn-info btn-fill btn-wd">Add history</button>
              </div>
            </div>
            
        </div>
    
    </div>
