<div class="container-fluid">
    <div class="row">  
        <div class="col-lg-20 col-md-20">
            <div class="card">
                <div class="header">
                    <h4 class="title">Add History of service: </h4>
                </div>
                <div class="content">
                    <form #historyToAdd="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text"[(ngModel)]="name" name="name" class="form-control border-input" placeholder="John">
                           
                             
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Lastname:</label>
                                    <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control border-input" placeholder="Smith">
                                </div>
                            </div>                            
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" [(ngModel)]="companyName" name="companyName"   class="form-control border-input" placeholder="Suzuki Official Service" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label >Date</label>
                                    <input type="text" [(ngModel)]="data"   name="data"  class="form-control border-input" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label >Price</label>
                                    <input type="text" [(ngModel)]="price" name="price"  class="form-control border-input"placeholder="20$" >
                                </div>
                            </div> 
                        </div>

                        <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" [(ngModel)]="serviceName" name="serviceName"  class="form-control border-input" placeholder="Changed oil" >
                                    </div>
                                </div>
                            </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" [(ngModel)]="description" name="description"  class="form-control border-input" placeholder="Changed oil,because there were not enough oli in the car..." >
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" (click)="addHistory()" class="btn btn-info btn-fill btn-wd">Add history</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 

       
      
      
    </div>
</div>
