<div class="container-fluid">
        <div class="row"> 
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                            <div class="image">
                                <img [src]="getBackground()" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" [src]="getPhoto()" alt="..."/>
                                  <h2>{{currentUser.username}}</h2>
                                  <h4 class="title">{{currentUser.firstname}} {{currentUser.lastname}}<br />
                                     <a href="#"><small>{{currentUser.email}}</small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{quot}}       
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>3<br /><small>Cars</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>6<br /><small>Opinions</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>70%<br /><small>Level</small></h5>
                                    </div>
                                </div>
                            </div>
                </div> 
                <app-cars></app-cars>
            </div>
            <div class="col-lg-8 col-md-7"> 
                <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">                                    
                                <form class="formcontent">
                                    <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="avatar">
                                                        <img src="assets/img/nofoto.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                </div>       
                                                <div class="col-xs-4">
                                                    <input type="file" (change)="onFileChanged($event)" />                                                           
                                                </div>
                                                  
                                    </div>
                                            
                                    <div class="row">
                                                    <div class="col-xs-4">
                                                        <div class="avatar">
                                                            <img src="assets/img/nobcg.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
        
                                                    <div class="col-xs-4">
                                                        <input type="file" name="myfile" />                                                           
                                                    </div>
                                                    
                                    </div>
                                           
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.email" placeholder="email" name="email" type="text" class="form-control" id="email"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input class="form-control border-input"  [(ngModel)]="currentUser.username" placeholder="username" name="username" type="text" class="form-control" id="username" required/>
                                                </div>
                                            </div>
                                    </div>
        
                                    <div class="row">
                                            
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstname">First Name</label>
                                                <input class="form-control border-input"  [(ngModel)]="currentUser.firstname" placeholder="firstname" name="firstname" type="text" class="form-control" id="firstname" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastname">Last Name</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.lastname" placeholder="lastname" name="lastname" type="text" class="form-control" id="lastname">
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.address" placeholder="address" name="address" type="text" class="form-control" id="address"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="buildingNumber">Building No</label>
                                                    <input class="form-control border-input" [(ngModel)]="currentUser.buildingNumber" placeholder="buildingNumber" name="buildingNumber" type="text" class="form-control" id="buildingNumber"/>
                                                </div>
                                            </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="apartamentNumber">Apartment No:</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.apartamentNumber" placeholder="apartamentNumber" name="apartamentNumber" type="text" class="form-control" id="apartamentNumber"/>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.city" placeholder="city" name="city" type="text" class="form-control" id="city" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country">Country</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.country" placeholder="country" name="country" type="text" class="form-control" id="country" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="postalCode">Postal Code</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.postalCode" placeholder="postalCode" name="postalCode" type="text" class="form-control" id="posatalCode" />
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="about">About Me</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.about" placeholder="about" name="about" type="text" class="form-control" id="about" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Quotation</label>
                                                <input class="form-control border-input" [(ngModel)]="currentUser.quotation" placeholder="quotation" name="quotation" type="text" class="form-control" id="quotation" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button (click)="onSubmit()" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                </div> 
            </div>             
                   
        </div>    
        
     
    </div>
