
    <div class="card"  *ngIf="carsList">
        <div class="header">
            <h4 class="title">Your cars</h4>
        </div>

        <div class="content">
            <ul class="list-unstyled team-members">
                <li *ngFor="let car of carsList" routerLink="/details/{{car.id}}">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="avatar">
                                <img src={{car.photo}} alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                        </div>
                        <div class="col-xs-6">
                           {{car.name}}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                    <button type="submit"  routerLink="/addcar"class="btn btn-info btn-fill btn-wd">Add new car</button>
            </div>
        </div>
    </div>
