<div *ngIf="car">
  <div class="container-fluid">

      <div class="row">  
          <div class="col-lg-8 col-md-7">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Edit Parameters</h4>
                  </div>
                  <div class="content">
                      <form #carToedit="ngForm">
                          <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name*:</label>
                                            <input [(ngModel)]="name" name="name" type="text" class="form-control border-input"  value={{car.name}} >
                                        </div>
                                    </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Full Name of Model*:</label>
                                      <input [(ngModel)]="model" name="model" type="text" class="form-control border-input"  value={{car.model}} >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Serial Number</label>
                                      <input [(ngModel)]="serialNumber" name="serialNumber" type="text" class="form-control border-input"  value={{car.serialNumber}}>
                                  </div>
                              </div>
                              
                          </div>

                          <div class="row">

                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Motor Volume</label>
                                      <input [(ngModel)]="volume" name="volume" type="text" class="form-control border-input"  value={{car.volume}} >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Color</label>
                                      <input [(ngModel)]="color" name="color" type="text" class="form-control border-input" value={{car.color}}>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Year</label>
                                      <input [(ngModel)]="year" name="year" type="text" class="form-control border-input"  value={{car.year}}>
                                  </div>
                              </div>
                              
                              
                          </div>

                          
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>City of the manufacturer</label>
                                      <input  [(ngModel)]="city" name="city" type="text" class="form-control border-input" placeholder="City" value="{{car.city}}">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Сountry of the manufacturer</label>
                                      <input [(ngModel)]="country" name="country" type="text" class="form-control border-input" placeholder="Country" value="{{car.country}}">
                                  </div>
                              </div>
                              
                          </div>
                          
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Characteristics</label>
                                      <input [(ngModel)]="about" name="about" type="text" class="form-control border-input" placeholder="" >
                                  </div>
                              </div>
                          </div>

                          <div class="text-center">
                              <button type="submit" (click)="editCar()" class="btn btn-info btn-fill btn-wd">Update Car</button>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div> 
          
          <div class="col-lg-4 col-md-5">
              <div class="card card-user">
                  <div class="image">
                      <img src={{car.photo}} alt="..."/>
                  </div>
                  <div class="content">
                      <div class="author">
                        <img class="avatar border-white" src={{car.photo}}  alt="..."/>
                        <h4 class="title">{{car.name}}<br />
                           <a href="#"><small>{{car.model}}</small></a>
                        </h4>
                      </div>
                      
                  </div>
                  <hr>
                  <div class="text-center">
                      <div class="row">
                          <div class="col-md-3 col-md-offset-1">
                              <h5>{{car.year}}<br /><small>Year</small></h5>
                          </div>
                          <div class="col-md-4">
                              <h5>{{car.model}}<br /><small>Model</small></h5>
                          </div>
                          <div class="col-md-3">
                              <h5>{{car.volume}}<br /><small>Volume</small></h5>
                          </div>
                      </div>
                  </div>
              </div>
              
      </div> 
        
        
      </div>

      <div class="row"> 
              <div class="col-lg-3 col-sm-6">                
                  <div class="card">
                      <div class="content">
                          <div class="row">
                              <div class="col-xs-5">
                                  <div class="icon-big icon-warning text-center">
                                      <i class="ti-car"></i>
                                  </div>
                              </div>
                              <div class="col-xs-7">
                                  <div class="numbers">
                                      <p>Car mileage</p>
                                      {{car.mileage}} km                                         
                                  </div>
                              </div>
                          </div>
                          <div class="footer">
                              <hr />
                              <div class="stats">
                                  <i class="ti-reload"></i> Update now
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="card">
                      <div class="content">
                          <div class="row">
                              <div class="col-xs-5">
                                  <div class="icon-big icon-success text-center">
                                      <i class="ti-paint-bucket"></i>
                                  </div>
                              </div>
                              <div class="col-xs-7">
                                  <div class="numbers">
                                      <p>Fluel combustion</p>
                                      {{car.combustion}} l
                                  </div>
                              </div>
                          </div>
                          <div class="footer">
                              <hr />
                              <div class="stats">
                                      <i class="ti-reload"></i> Update now
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="card">
                      <div class="content">
                          <div class="row">
                              <div class="col-xs-5">
                                  <div class="icon-big icon-big text-center">
                                      <i class="ti-timer"></i>
                                  </div>
                              </div>
                              <div class="col-xs-7">
                                  <div class="numbers">
                                      <p>Time to 100km/hour</p>
                                      {{car.time}} sec
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="footer">
                              <hr />
                              <div class="stats">
                                      <i class="ti-reload"></i> Update now
                              </div>
                          </div>
                      </div>
                  </div>
              </div> 
              <div class="col-lg-3 col-sm-6">
                      <div class="card">
                          <div class="content">
                              <div class="row">
                                  <div class="col-xs-5">
                                      <div class="icon-big icon-danger text-center">
                                          <i class="ti-bolt"></i>
                                      </div>
                                  </div>
                                  <div class="col-xs-7">
                                      <div class="numbers">
                                          <p>Horsepower</p>
                                          {{car.horsepower}}
                                          
                                      </div>
                                  </div>
                              </div>
                              <div class="footer">
                                  <hr />
                                  <div class="stats">
                                          <i class="ti-reload"></i> Update now
                                  </div>
                              </div>
                          </div>
                      </div>
              </div> 
            
      </div>

      


      <!-- <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Users Behavior</h4>
                      <p class="category">24 Hours performance</p>
                  </div>
                  <div class="content">
                      <div id="chartHours" class="ct-chart"></div>
                      <div class="footer">
                          <div class="chart-legend">
                              <i class="fa fa-circle text-info"></i> Like
                              <i class="fa fa-circle text-danger"></i> Dislike
                              <i class="fa fa-circle text-warning"></i> Loyal
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="ti-reload"></i> Updated 3 minutes ago
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Car Statistics</h4>
                      <p class="category">Last Campaign Performance</p>
                  </div>
                  <div class="content">
                      <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                      <div class="footer">
                          <div class="chart-legend">
                              <i class="fa fa-circle text-info"></i> Motor
                              <i class="fa fa-circle text-danger"></i> Oil
                              <i class="fa fa-circle text-warning"></i> Vehicles
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="ti-timer"></i> Campaign sent 2 days ago
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card ">
                  <div class="header">
                      <h4 class="title">2015 Sales</h4>
                      <p class="category">All products including Taxes</p>
                  </div>
                  <div class="content">
                      <div id="chartActivity" class="ct-chart"></div>

                      <div class="footer">
                          <div class="chart-legend">
                              <i class="fa fa-circle text-info"></i> Tesla Model S
                              <i class="fa fa-circle text-warning"></i> BMW 5 Series
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="ti-check"></i> Data information certified
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>  -->
    </div>



  



</div>


